In [15]:
import pandas as pd

In [29]:
df = pd.read_csv("Speed_Dating_Data.csv", encoding="ISO-8859-1")
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [46]:
colonne_profil = ['iid', 'gender', 'age', 'field_cd', 'race', 'goal', 'from', 'career_c']

df_profil = df[colonne_profil]
df_profil["gender"] = df_profil["gender"]\
    .replace(0, "F")\
    .replace(1,"H")
df_profil["race"] = df_profil["race"]\
    .replace(1, "Black")\
    .replace(2,"European")\
    .replace(3,"Latino")\
    .replace(4,"Asian")\
    .replace(5,"Native American")\
    .replace(6,"Other")
df_profil["goal"] = df_profil["goal"]\
    .replace(1, "Fun night out")\
    .replace(2,"Meet new people")\
    .replace(3,"Get a date")\
    .replace(4,"Serious relationship")\
    .replace(5,"Say i did it")\
    .replace(6,"Other")
df_profil["field_cd"] = df_profil["field_cd"]\
    .replace(1,"Law")\
    .replace(2,"Math")\
    .replace(3,"Psychologist")\
    .replace(4,"Pharmaceuticals")\
    .replace(5,"Engineering")\
    .replace(6,"Journalism")\
    .replace(7,"History/Religion/Philosophy")\
    .replace(8,"Business")\
    .replace(9,"Education")\
    .replace(10,"Biological")\
    .replace(11,"Social Work")\
    .replace(12,"Undergrad")\
    .replace(13,"Political Science")\
    .replace(14,"Film")\
    .replace(15,"Arts")\
    .replace(16,"Languages")\
    .replace(17,"Architecture")\
    .replace(18,"Other")
df_profil["career_c"] = df_profil["career_c"]\
    .replace(1,"Lawyer")\
    .replace(2,"Academic/Research ")\
    .replace(3,"Psychologist")\
    .replace(4,"Doctor/Medicine")\
    .replace(5,"Engineer")\
    .replace(6,"Creative Arts/Entertainment")\
    .replace(7,"Business")\
    .replace(8,"Real Estate")\
    .replace(9,"Humanitarian Affairs")\
    .replace(10,"Undecided")\
    .replace(11,"Social Work")\
    .replace(12,"Speech Pathology")\
    .replace(13,"Politics")\
    .replace(14,"Pro sports/Athletics")\
    .replace(15,"Other")\
    .replace(16,"Journalism")\
    .replace(17,"Architecture")
df_profil.drop_duplicates()

C:\Users\macel\AppData\Local\Temp\ipykernel_20236\1598192144.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["gender"] = df_profil["gender"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_20236\1598192144.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["race"] = df_profil["race"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_20236\1598192144.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["goal"] = df_profil["goal"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_20236\1598192144.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["field_cd"] = df_profil["field_cd"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_20236\1598192144.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["career_c"] = df_profil["career_c"]\

,iid,gender,age,field_cd,race,goal,from,career_c
0,1,F,21.0,Law,Asian,Meet new people,Chicago,NaN
10,2,F,24.0,Law,European,Fun night out,Alabama,NaN
20,3,F,25.0,Math,European,Other,Connecticut,NaN
30,4,F,23.0,Law,European,Fun night out,Texas,Lawyer
40,5,F,21.0,Law,European,Meet new people,Bowdoin College,Lawyer
...,...,...,...,...,...,...,...,...
8268,548,H,30.0,Business,European,Fun night out,Germany,Business
8290,549,H,28.0,Business,European,Fun night out,Italy,Business
8312,550,H,30.0,Business,European,Meet new people,UK,Business
8334,551,H,27.0,Business,Black,Fun night out,London & New York,Business
8356,552,H,25.0,Other,European,Fun night out,France,Other