In [235]:
import pandas as pd

In [236]:
df = pd.read_csv("Speed_Dating_Data.csv", encoding="ISO-8859-1")
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [237]:
colonne_profil = ['iid', 'gender', 'age', 'field_cd', 'race', 'goal', 'from', 'career_c']

df_profil = df[colonne_profil]
df_profil["gender"] = df_profil["gender"]\
    .replace(0, "F")\
    .replace(1,"H").fillna("Non Renseigner").astype(str)
df_profil["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
df_profil["race"] = df_profil["race"]\
    .replace(1, "Black")\
    .replace(2,"European")\
    .replace(3,"Latino")\
    .replace(4,"Asian")\
    .replace(5,"Native American")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_profil["goal"] = df_profil["goal"]\
    .replace(1, "Fun night out")\
    .replace(2,"Meet new people")\
    .replace(3,"Get a date")\
    .replace(4,"Serious relationship")\
    .replace(5,"Say i did it")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_profil["field_cd"] = df_profil["field_cd"]\
    .replace(1,"Law")\
    .replace(2,"Math")\
    .replace(3,"Psychologist")\
    .replace(4,"Pharmaceuticals")\
    .replace(5,"Engineering")\
    .replace(6,"Journalism")\
    .replace(7,"History/Religion/Philosophy")\
    .replace(8,"Business")\
    .replace(9,"Education")\
    .replace(10,"Biological")\
    .replace(11,"Social Work")\
    .replace(12,"Undergrad")\
    .replace(13,"Political Science")\
    .replace(14,"Film")\
    .replace(15,"Arts")\
    .replace(16,"Languages")\
    .replace(17,"Architecture")\
    .replace(18,"Other").fillna("Non Renseigner").astype(str)
df_profil["career_c"] = df_profil["career_c"]\
    .replace(1,"Lawyer")\
    .replace(2,"Academic/Research ")\
    .replace(3,"Psychologist")\
    .replace(4,"Doctor/Medicine")\
    .replace(5,"Engineer")\
    .replace(6,"Creative Arts/Entertainment")\
    .replace(7,"Business")\
    .replace(8,"Real Estate")\
    .replace(9,"Humanitarian Affairs")\
    .replace(10,"Undecided")\
    .replace(11,"Social Work")\
    .replace(12,"Speech Pathology")\
    .replace(13,"Politics")\
    .replace(14,"Pro sports/Athletics")\
    .replace(15,"Other")\
    .replace(16,"Journalism")\
    .replace(17,"Architecture").fillna("Non Renseigner").astype(str)
df_profil = df_profil.drop_duplicates()

C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["gender"] = df_profil["gender"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["race"] = df_profil["race"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["goal"] = df_profil["goal"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["field_cd"] = df_profil["field_cd"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\2869435946.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["career_c"] = df_profil["career_c"]\

In [238]:
colonne_rencontre = ['iid', 'gender', 'age', 'field_cd', 'race', 'goal', 'from', 'career_c', 'match', 'pid']

df_rencontre = df[colonne_rencontre]
df_rencontre["gender"] = df_rencontre["gender"]\
    .replace(0, "F")\
    .replace(1,"H").fillna("Non Renseigner").astype(str)
df_profil["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
df_rencontre["race"] = df_rencontre["race"]\
    .replace(1, "Black")\
    .replace(2,"European")\
    .replace(3,"Latino")\
    .replace(4,"Asian")\
    .replace(5,"Native American")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["goal"] = df_rencontre["goal"]\
    .replace(1, "Fun night out")\
    .replace(2,"Meet new people")\
    .replace(3,"Get a date")\
    .replace(4,"Serious relationship")\
    .replace(5,"Say i did it")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["field_cd"] = df_rencontre["field_cd"]\
    .replace(1,"Law")\
    .replace(2,"Math")\
    .replace(3,"Psychologist")\
    .replace(4,"Pharmaceuticals")\
    .replace(5,"Engineering")\
    .replace(6,"Journalism")\
    .replace(7,"History/Religion/Philosophy")\
    .replace(8,"Business")\
    .replace(9,"Education")\
    .replace(10,"Biological")\
    .replace(11,"Social Work")\
    .replace(12,"Undergrad")\
    .replace(13,"Political Science")\
    .replace(14,"Film")\
    .replace(15,"Arts")\
    .replace(16,"Languages")\
    .replace(17,"Architecture")\
    .replace(18,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["career_c"] = df_rencontre["career_c"]\
    .replace(1,"Lawyer")\
    .replace(2,"Academic/Research ")\
    .replace(3,"Psychologist")\
    .replace(4,"Doctor/Medicine")\
    .replace(5,"Engineer")\
    .replace(6,"Creative Arts/Entertainment")\
    .replace(7,"Business")\
    .replace(8,"Real Estate")\
    .replace(9,"Humanitarian Affairs")\
    .replace(10,"Undecided")\
    .replace(11,"Social Work")\
    .replace(12,"Speech Pathology")\
    .replace(13,"Politics")\
    .replace(14,"Pro sports/Athletics")\
    .replace(15,"Other")\
    .replace(16,"Journalism")\
    .replace(17,"Architecture").fillna("Non Renseigner").astype(str)

df_rencontre["pid"] = df_rencontre["pid"].fillna(0).astype(int)

df_rencontre

C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["gender"] = df_rencontre["gender"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["race"] = df_rencontre["race"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["goal"] = df_rencontre["goal"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["field_cd"] = df_rencontre["field_cd"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["career_c"] = df_rencontre["career_c"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_1904\4084865599.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["pid"] = df_rencontre["pid"].fillna(0).astype(int)

,iid,gender,age,field_cd,race,goal,from,career_c,match,pid
0,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner,0,11
1,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner,0,12
2,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner,1,13
3,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner,1,14
4,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner,1,15
...,...,...,...,...,...,...,...,...,...,...
8373,552,H,25.0,Other,European,Fun night out,France,Other,0,526
8374,552,H,25.0,Other,European,Fun night out,France,Other,0,527
8375,552,H,25.0,Other,European,Fun night out,France,Other,0,528
8376,552,H,25.0,Other,European,Fun night out,France,Other,0,529
8377,552,H,25.0,Other,European,Fun night out,France,Other,0,530

In [239]:
def getUserMatchProfilDataframe(iid):
    matchesPid=df_rencontre.loc[df_rencontre["iid"]==iid]["pid"]
    return df_profil[df_profil["iid"].isin(matchesPid)]

In [240]:
def getColumnMatchPourcente(column, value):
    columnRencontrePid = df_rencontre.loc[df_rencontre[column] == value]["pid"]
    columnMatchesPid = df_rencontre.loc[(df_rencontre["match"] == 1) & (df_rencontre[column] == value)]["pid"]
    
    columnMatchesPid = columnMatchesPid
    return (df_profil[df_profil["iid"].isin(columnMatchesPid)][column].value_counts())/(df_profil[df_profil["iid"].isin(columnRencontrePid)][column].value_counts())

getColumnMatchPourcente("gender","H")

gender
F    0.806569
Name: count, dtype: float64

In [251]:
profil1 = 1
profil2 = 400
profil1Df = df_profil.loc[(df_profil["iid"] == profil1)]
profil2Df = df_profil.loc[(df_profil["iid"] == profil2)]

df_profil.loc[(df_profil["iid"] == profil1) | (df_profil["iid"] == profil2)]

,iid,gender,age,field_cd,race,goal,from,career_c
0,1,F,21.0,Law,Asian,Meet new people,Chicago,Non Renseigner
6140,400,H,26.0,Business,European,Say i did it,Italy,Business

,iid,gender,age,field_cd,race,goal,from,career_c
7894,531,H,25.0,Engineering,Asian,Meet new people,"BEIJING, CHINA",Academic/Research

In [271]:
   ## Probleme lorsque l'on utilise le profil du nÂ°531
getColumnMatchPourcente("from", profil1Df["from"].values[0])[profil2Df["from"]]*\
getColumnMatchPourcente("career_c", profil1Df["career_c"].values[0])[profil2Df["career_c"]]*\
getColumnMatchPourcente("race", profil1Df["race"].values[0])[profil2Df["race"]].values[0]*\
getColumnMatchPourcente("gender", profil1Df["gender"].values[0])[profil2Df["gender"]].values[0]*\
getColumnMatchPourcente("goal", profil1Df["goal"].values[0])[profil2Df["goal"]].values[0]*\
getColumnMatchPourcente("field_cd", profil1Df["field_cd"].values[0])[profil2Df["field_cd"]].values[0]*\
getColumnMatchPourcente("age", profil1Df["age"].values[0])[profil2Df["age"]].values[0]*100

#Pourquoi y a NaN ?

Business   NaN
Italy      NaN
Name: count, dtype: float64